<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EmsDemoBlazer.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    @* <link rel="stylesheet" href="css/books.css"/> *@

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        window.showSuccess = (message) => {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: message,
                timer: 2000,
                showConfirmButton: false
            });
        };

        window.showConfirm = () => {
            return Swal.fire({
                title: 'Are you sure?',
                text: "You won’t be able to undo this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, delete it!'
            }).then(result => {
                return result.isConfirmed;
            });
        };
    </script>

</body>

</html>
